/*body {
	width:100%;
	height:100%;
	overflow:hidden;
}*/

*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	box-sizing: border-box;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	/*white-space: nowrap;*/
}

pre {
	font-family: "monospace, serif";
	-webkit-box-sizing: "";
	box-sizing: content-box;
	line-height: 1;
	margin: 0;
}

span {
	color: white;
}

a {
	text-decoration: none;
	border:none;
	color: #000;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #000;
}
a.active {
	color: #000;
}

p {
	color: white;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	border : 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner
{
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: rgba(0,0,0,0);
}


.head_menu {
	/*background : rgb(44,177,58);*/
	background : rgb(112, 180, 239);
	height : 100%;
}

.textcontent {
	padding: 0px;
}

.screen {
	padding: 12px;
	border-color : lightslategray;
	color : white;
}

.stopselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.head_title {
	position:absolute;
	width : 180px;
	height : 30px;
	font-size: 18px;
	text-align: right;
}

.head_title_text {
	position : relative;
	top : 3px;
	height : 20px;
}

.head_mode_menu {
	position : absolute;
	text-align: center;
	padding: 2px;
	width : 100%;
}

.head_menu_content {
	position:absolute;
	left : 200px;
	width : 200px;
	height : 30px;
	font-size: 16px;
	text-align: left;
}

.head_menu_content_inner {
	position : relative;
	top : 12px;
	height : 30px;
}

.head_menu_content_inner.active {
	background : red;
}

.head_menu_content_text {
	margin-left : 20px;
}

.head_select_mode_menu {
	position:absolute;
	left : 20px;
	display : none;
}

.head_select_menu_text {
	position : relative;
	top : 5px;
	height : 20px;
	font-size: 14px;
	
	border-style : solid;
	padding : 2px 8px 2px 8px;
	border-width: 2px;
	border-radius: 6px;
}

.head_vdisplay_menu {
	position:absolute;
	right : 20px;
	display : none;
}

.head_vdisplay_menu_text {
	position : relative;
	top : 5px;
	height : 20px;
	font-size: 14px;
	
	border-style : solid;
	padding : 2px 8px 2px 8px;
	border-width: 2px;
	border-radius: 6px;
}

/*
.leftArea {
	position : absolute;
	height : 100%;
	width : 100%;
	overflow: auto;
	z-index: 100000;
}

.left_tab_area {
	width : 100%;
	height : 100%;
}

.left_main_area {
	height : 100%;
	background: linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
	padding-bottom: 100px;
}

*/

.content_area {
	display: none;
	width:100%;
	height: 100%;
	overflow-y: auto;
	border : solid 4px;
	border-color: #04B431;
}
.content_area pre {
	padding: 0px;
	overflow-y: auto;
}

.display_area {
	display: block;
	width:100%;
	height: 100%;
	overflow: auto;
	border : solid 4px;
	border-color: #0080FF;
}

.bgcolor {
	background: linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -10000;
}

.overallBlock {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100001;
}
.bottom_area {
	/*
	border: solid;
	border-color: rgb(44,177,58);
	*/
	/*padding: 20px;*/
	background-color: #333;
	position : absolute;
	height : 100%;
	/*height : 620px;*/
	width : 100%;
	/*bottom : 0px;*/
	top: 0px;
	/*left: 50%;*/
	/*margin-left:-400px;*/
	overflow: hidden;
	/*z-index: 100002;*/
}

.leftTab {
	top : 140px;
	background-color: #AAA;
	padding: 0px 20px 0px 20px;
	border: solid 1px;
	border-radius:1px;
	-moz-transform-origin: 6% 70%;
	-webkit-transform-origin: 6% 70%;
	-o-transform-origin: 6% 70%;
	-ms-transform-origin: 6% 70%;
	transform-origin: 6% 70%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 100000;
}

.content_id {
	margin: 10px;
	padding-left : 30px;
}

.group_name {

	margin: 10px;
	padding-left : 30px;
 }

.meta_info {
	margin: 10px;
	padding-left : 30px;
}

.input-group {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.form-control {
	text-align: center;
}

.download_button {
	width:164px;
	height:34px;
	position: absolute;
	left: 50px;
	bottom: 20px;
	background-image:url("../image/download.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
}

.close_button {
	width:23px;
	height:23px;
	background-image:url("../image/closebutton.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
	top : -10px;
}

.close_button:hover {
	cursor : pointer;
}

.top_control {
	width : 800px;
	height : 50px;
}

.top_control_panel {
	text-align:center;
}

.topmenu1 {
	position: absolute;
	right : 380px;
	z-index: 1000001;
}

.topmenu2 {
	position: absolute;
	right : 260px;
	z-index: 1000001;
}

.preview_area {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#snap_text {
	position : absolute;
	top : 7px;
	right : 120px;
	font-size : 14px;
	color : rgb(10, 26, 67);
}

.content_dialog {
	top: 50%;
	left: 50%;
	width: 640px;
	height: 640px;
	margin-top:-320px;
	margin-left:-320px;
	position: fixed;
	background: #FEFEFE;
	border:solid;
	border-radius:6px;
	border-width:3px;
	border-color:#AAAAAA;
	z-index:4;
	display: none;
	overflow: auto;
}

.content_button_area {
	display : none;
	position :absolute;
	width : 160px;
	bottom : 22px;
}

.content_button {
	position :absolute;
	left : 40px;
}

.display_button_area {
	display : block;
	position :absolute;
	width : 160px;
	bottom : 22px;
}

.display_button {
	position :absolute;
	left : 40px;
}

.blacktext {
	color : black;
}

.whitetext {
	font-size: 14px;
	color : #eee;
}

.bold {
	font-weight: 700;
}

.virtual_display_property {
	display : none;
}

.property_button {
	float : right;
	width : 80px;
	height : 30px;
}

.show_display_id {
	margin-bottom: 5px;
}

.content_add {
	margin-bottom: 5px;
}

#display_preview_area {
	z-index: 1;
	opacity: 1.0;
}

#content_preview_area {
	z-index: 0;
	opacity: 0.3;
}

#content_delete_all_button {
	color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

#content_delete_all_button:hover {
	color: #fff;
    background-color: #a9100c;
    border-color: #a9100c;
}

.ns_splitter:hover {
	cursor : ns-resize;
}

.ew_splitter:hover {
	cursor : ew-resize;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.image_content {
	position : absolute;
	left : 0px;
	right : 0px;
}

.text_content {
	position : absolute;
}

.whole_screen_elem {
	padding: 12px;
	border : 1px solid;
	z-index : -1000000;
	color : white;
}

.user_data_input {
	text-align: center;
}

.user_data_text_input {
	width : 90%;
	height : 200px;
	margin-left : 10px;
	margin-right : 10px;
}

.manipulator_menu_star {
	width : 26px;
	height : 26px;
	position : absolute;
	background-image:url("../image/star_off.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: 1px solid gray;
	z-index: 1000000;
}

.manipulator_menu_star:hover {
	cursor : pointer;
}

.manipulator_menu_star.active {
	background-image:url("../image/star_on.png");
}

.manipulator_menu_memo {
	width : 26px;
	height : 26px;
	position : absolute;
	background-image:url("../image/memo_off.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: 1px solid gray;
	z-index: 1000000;
}

.manipulator_menu_memo:hover {
	cursor : pointer;
}

.manipulator_menu_memo.active {
	background-image:url("../image/memo_on.png");
}

.mark {
	border : 4px solid orange;
}
#head_menu_hover {
    background-color: transparent;
    color: #222;
    /* line-height: 30px; */
    width: 120px;
    height: 30px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
}
#head_menu_hover_left {
    /* background-color: rgb(70, 140, 200);                          */
    /* border-top:    1px solid #779;                                */
    /* border-left:   1px solid #779;                                */
    /* border-bottom: 1px solid #bbf;                                */
    /* border-right:  1px solid #bbf;                                */
    /* border-radius: 5px;                                           */
    /* color: whitesmoke;                                            */
    /* font-family: 'ＭＳ ゴシック', Monaco, Ricty, monospace; */
    /* font-size: smaller;                                           */
    /* font-weight: bold;                                            */
    /* line-height: 20px;                                            */
    /* text-align: center;                                           */
    margin: 5px;
    width: 70px;
    /* text-shadow: 0px 0px 2px navy;                                */
}
#head_menu_hover_right {
    background-color: rgb(82, 150, 210);
    border-top:    1px solid #779;
    border-left:   1px solid #779;
    border-bottom: 1px solid #bbf;
    border-right:  1px solid #bbf;
    border-radius: 5px;
    font-family: 'ＭＳ ゴシック', Monaco, Ricty, monospace;
    font-size: smaller;
    line-height: 20px;
    text-align: center;
    margin: 5px;
    width: 20px;
    height: 20px;
	
}
#head_menu_hover_right.connect {
    background-color: rgb(82, 210, 150);
    color: darkcyan;
	background-image:url("../image/connect.png");
	background-repeat:no-repeat;
	background-size: contain;
}
#head_menu_hover_right.disconnect {
    background-color: rgb(210, 100, 100);
    color: crimson;
	background-image:url("../image/disconnect.png");
	background-repeat:no-repeat;
	background-size: contain;
}

#text_input_dialog {
	top: 50%;
	left: 50%;
	padding-right : 15px;
	margin-top:-53px;
	margin-left:-145px;
	position: fixed;
	z-index: 100000000;
	display: none;
	background-color: rgb(83, 83, 83);
	border-radius: 5px;
}

#text_input {
	width: 250px;
	border: 2px solid rgb(112, 180, 239);
	border-radius: 3px;
}

#text_send_button {
	background-color: rgb(112, 180, 239);
	color: black;
	margin-left: 5px;
	margin-bottom: 23px;
}


.popup_background {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#555555;
	opacity: 0.5;
	z-index: 3;
	display: none;
}

#input_dialog {
	top: 50%;
	left: 50%;
	width: 340px;
	height: 116px;
	margin-top:-53px;
	margin-left:-145px;
	position: fixed;
	z-index: 100000000;
	display: none;
	background-color: rgb(83, 83, 83);
	border-radius: 5px;
}

#input_dialog_input {
	width : 250px;
	margin-left : 10px;
	border: 2px solid rgb(112, 180, 239);
	border-radius: 3px;
}

#input_ok_button {
	background-color: rgb(112, 180, 239);
	color: black;
	margin-left: 5px;
}
#color_dialog {
	top: 50%;
	left: 50%;
	width: 320px;
	height: 230px;
	margin-top:-53px;
	margin-left:-145px;
	position: fixed;
	z-index: 100000000;
	display: none;
	background-color: rgb(83, 83, 83);
	border-radius: 5px;
}

#color_ok_button {
	background-color: rgb(112, 180, 239);
	color: black;
	position: absolute;
    right: 15px;
    bottom: 15px;
}

#rightArea_panel__ {
	background:linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
}
