/*body {
	width:100%;
	height:100%;
	overflow:hidden;
}*/

*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	white-space: nowrap;
}

pre {
	font-family: "monospace, serif";
	-webkit-box-sizing: "";
	box-sizing: content-box;
	line-height: 1;
	margin: 0;
}

span {
	color: white;
}

a {
	text-decoration: none;
	border:none;
	color: #eee;
}
a:link {
	color: #eee;
}
a:visited {
	color: #eee;
}
a:hover {
	color: white;
}
a.active {
	color: white;
}

p {
	color: white;
}

.head_menu {
	background : rgb(44,177,58);
	height : 50px;
}

.textcontent {
	padding: 0px;
}

.screen {
	padding: 12px;
}

.stopselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.head_title {
	position:absolute;
	width : 180px;
	height : 50px;
	font-size: 18px;
	text-align: right;
}

.head_title_text {
	position : relative;
	top : 12px;
	height : 30px;
}

.head_mode_menu {
	text-align: center;
	padding: 8px;
}
.head_mode_text {
	color: #EEE;
	font-size: 24px;
	font-weight: 700;
}

.head_menu_content {
	position:absolute;
	left : 200px;
	width : 200px;
	height : 50px;
	font-size: 16px;
	text-align: left;
}

.head_menu_content_inner {
	position : relative;
	top : 12px;
	height : 30px;
}

.head_menu_content_inner.active {
	background : red;
}

.head_menu_content_text {
	margin-left : 20px;
}

.head_select_mode_menu {
	position:absolute;
	left : 20px;
}

.head_select_menu_text {
	position : relative;
	top : 12px;
	height : 30px;
	font-size: 18px;
	
	border-style : solid;
	padding : 5px 10px 5px 10px;
	border-width: 2px;
	border-radius: 6px;
}

.head_vdisplay_menu {
	position:absolute;
	right : 20px;
}

.head_vdisplay_menu_text {
	position : relative;
	top : 12px;
	height : 30px;
	font-size: 18px;
	
	border-style : solid;
	padding : 5px 10px 5px 10px;
	border-width: 2px;
	border-radius: 6px;
}

.leftArea {
	position : absolute;
	top : 100px;
	height : 800px;
	width : 250px;
	overflow: hidden;
	z-index: 100000;
}

.left_tab_area {
	height : 30px;
}

.left_main_area {
	height : 760px;
	background-color: rgba(55, 55, 55, 1.0);
}

.display_tab_title {
	position : absolute;
	text-align: center;
	background-color: #0080FF;
	border-style: none;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	left: 30px;
	width : 80px;
	height : 30px;
	padding-top: 8px;
	font-size: 13px;
}

.display_tab_title.active {
	text-align: center;
	background-color: #0080FF;
	border: 0px 0px 0px 0px;
}

.content_tab_title {
	position : absolute;
	text-align: center;
	background: rgb(44,177,58);
	border-style: none;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	left : 140px;
	width : 80px;
	height : 30px;
	padding-top: 8px;
	font-size: 13px;
}

.content_tab_title.active {
	text-align: center;
	background: #04B431;
	border: 0px 0px 0px 0px;
}

.content_area {
	display: none;
	height: 700px;
	width : 250px;
	overflow-y: auto;
	border : solid 4px;
	border-color: #04B431;
}
.content_area pre {
	padding: 0px;
	overflow-y: auto;
}

.display_area {
	display: block;
	height: 670px;
	overflow: auto;
	border : solid 4px;
	border-color: #0080FF;
}

.rightArea {
	/*
	border: solid;
	border-color: rgba(100, 100, 100, 0.5);
	*/
	background-color: rgba(55, 55, 55, 1.0);
	position : absolute;
	height : 800px;
	width : 250px;
	right : 0px;
	overflow: hidden;
	z-index: 100000;
}

.rightTab {
	background-color: #AAA;
	padding: 0px 20px 0px 20px;

	border: solid 1px;
	border-radius:1px;
	
	top :114px;
	-moz-transform-origin: 91% 63%;
	-webkit-transform-origin: 91% 63%;
	-o-transform-origin: 91% 63%;
	-ms-transform-origin: 91% 63%;
	transform-origin: 91% 63%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 100000;
}

.bgcolor {
	background-color: #AAA;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -10000;
}

.overallBlock {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100001;
}
.bottomArea {
	
	border: solid;
	border-color: rgb(44,177,58);
	
	/*padding: 20px;*/
	background-color: rgba(55, 55, 55, 1.0);
	position : absolute;
	height : 520px;
	width : 800px;
	bottom : 0px;
	top: 150px;
	left: 50%;
	margin-left:-400px;
	overflow: auto;
	z-index: 100002;
}

.bottomTab {
	color: #EEE;
	background-color: #AAA;
	padding: 0px 20px 0px 20px;
	width: 130px;
	position: absolute;
	top:128px;
	left: 50%;
	margin-left:-380px;
	border: solid 1px;
	border-radius:1px;
	z-index: 100002;
}

.leftTab {
	top : 140px;
	background-color: #AAA;
	padding: 0px 20px 0px 20px;
	border: solid 1px;
	border-radius:1px;
	-moz-transform-origin: 6% 70%;
	-webkit-transform-origin: 6% 70%;
	-o-transform-origin: 6% 70%;
	-ms-transform-origin: 6% 70%;
	transform-origin: 6% 70%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 100000;
}

.content_id {
	position: relative;
	left: 40px;
	margin: 10px;
}

.input-group {
	width: 220px;
	margin: 10px;
	padding-left: 40px;
	padding-right: 20px;
}

.form-control {
	text-align: center;
}

.download_button {
	width:164px;
	height:34px;
	position: absolute;
	left: 50px;
	bottom: 20px;
	background-image:url("../image/download.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
}

.close_button {
	width:20px;
	height:20px;
	background-image:url("../image/closebutton.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
}


.top_control {
	width : 800px;
	height : 50px;
}

.top_control_panel {
	text-align:center;
}

.topmenu1 {
	position: absolute;
	right : 130px;
	padding-top : 10px;
	z-index: 100001;
}

.topmenu2 {
	position: absolute;
	right : 10px;
	padding-top : 10px;
	z-index: 100001;
}

.popup_background {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#555555;
	opacity: 0.5;
	z-index: 3;
	display: none;
}

.preview_area {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-1;
}

.content_dialog {
	top: 50%;
	left: 50%;
	width: 640px;
	height: 640px;
	margin-top:-320px;
	margin-left:-320px;
	position: fixed;
	background: #FEFEFE;
	border:solid;
	border-radius:6px;
	border-width:3px;
	border-color:#AAAAAA;
	z-index:4;
	display: none;
	overflow: auto;
}

.content_button_area {
	display : none;
	position :absolute;
	width : 160px;
	bottom : 24px;
}

.content_button {
	position :absolute;
	left : 40px;
}

.display_button_area {
	display : block;
	position :absolute;
	width : 160px;
	bottom : 22px;
}

.display_button {
	position :absolute;
	left : 40px;
}

.blacktext {
	color : black;
}

.whitetext {
	font-size: 14px;
	color : #eee;
}

.bold {
	font-weight: 700;
}

.virtual_display_property {
	display : none;
}

.property_button {
	width : 160px;
	height : 35px;
}

.show_display_id {
	margin-bottom: 5px;
}

#display_preview_area {
	z-index: 1;
	opacity: 1.0;
}

#content_preview_area {
	z-index: 0;
	opacity: 0.3;
}
