
.context_menu {
	width : 200px;
	height : 400px;
	background : rgb(255,255,255);
	border : 1px solid rgb(186, 186, 186);
	color : black;
	position : absolute;
	box-shadow: 2px 4px 5px black;
}

.context_menu_item {
	background : white;
	cursor: default;
	font-size : 14px;
	color : black;
}

.context_menu_item:hover {
	background : rgb(66, 129, 244);
	color : white;
}
