

.group_tab_area {
	width : 170px;
	height : 100%;
	position : absolute;
	overflow  : auto;
}

.group_box_area {
	height : 100%;
	overflow : hidden;
	margin-left : 170px;
}


.group_tab {
	text-align: center;
	background: rgb(54,187,68);
	border: 1px solid rgba(255, 255, 255, 0.3);
	top: 5px;
	left : 4px;
	width : 170px;
	height : 30px;
	padding-left : 2px;
	padding-right : 2px;
	font-size: 14px;
	float : left;
}

.group_tab_close {
	border: 1px solid rgb(250, 100, 100);
	border-radius: 14px;
	width : 14px;
	height : 14px;
	background :rgb(250, 100, 100);
	float : right;
	position : relative;
	right: 10px;
	top : 7px;
}

.group_tab_close:hover {
	background :red;
}

.group_tab_close_label {
	color : white;
	position : relative;
	top : -3px;
}

.group_tab_append {
	border: 1px solid rgb(100, 250, 100);
	border-radius: 16px;
	width : 16px;
	height : 16px;
	background :rgb(100, 250, 100);
	position : fixed;
	bottom : 10px;
	left : 10px;
	cursor : pointer;
	margin : auto auto;
	font-size : 16px;
	text-align: center;
}

.group_tab_append:hover {
	background :rgb(54,187,68);
}

.group_tab_append_label {
	color : black;
	position : relative;
	top : -3px;
}

.group_tab.active {
	border: 3px solid white;
}

.group_tab_box {
	border: 2px solid rgb(54,187,68);
}

.group_tab_link {
	position : relative;
	top : 5px;
}