

.group_tab_area {
	width : 100%;
	height : 30px;
	position : absolute;
}

.group_box_area {
	width : 100%;
	height : 100%;
	padding-top : 20px;
	overflow : hidden;
}


.group_tab {
	text-align: center;
	background: rgb(54,187,68);
	border: 1px solid rgb(200,200,200);
	top: 5px;
	left : 4px;
	width : 100px;
	height : 20px;
	padding-left : 2px;
	padding-right : 2px;
	font-size: 13px;
	float : left;
}

.group_tab_close {
	border: 1px solid rgb(250, 100, 100);
	border-radius: 14px;
	width : 14px;
	height : 14px;
	background :rgb(250, 100, 100);
	float : right;
	position : relative;
	top : 2px;
	color : white;
}

.group_tab_close:hover {
	background :red;
}

.group_tab.active {
	border: 2px solid rgb(204,247,168);
}

.group_tab_box {
	border: 2px solid rgb(54,187,68);
}
