input[disabled] {
	background-color : gray;
	border : none;
}

.management {
	top: 50%;
	left: 50%;
	width: 60vw;
	height: 80vh;
	margin-top: calc(-80vh / 2);
	margin-left: calc(-60vw / 2);
	position: fixed;
	z-index: 90000000;
	background-color: rgb(83, 83, 83);
	border-radius: 5px;
	color : white;
	padding : 20px;
	overflow-y : auto;
}

.frame {
	border : 1px solid white;
	padding : 10px;
}

.db_select {
	color :black;
	width : 120px;
	margin : 5px;
}

.auth_select {
	color :black;
	width : 120px;
	margin : 5px;
}

.history_number {
	text-align: center;
	margin : 5px;
}

.auth_target_label {
	display : inline-block;
	width : 190px;
}

.passinput_frame {
	display : inline-block;
}

#passinputs {
	margin : 5px;
}

.passinput {
	margin : 3px;
	width : 160px;
	text-align: center;
}

.management_apply_button {
	margin : 10px;
	width : 100px;
}
