

.group_tab_area {
	width : 170px;
	/* グループリストのスクロール対策 */
	height : calc(100% - 60px);
	position : absolute;
	overflow-y  : auto;
	overflow-x : hidden;
}

.group_box_area {
	width : calc(100% - 170px - 178px);
	height : 100%;
	overflow : hidden;
	margin-left : 170px;
}

.group_box {
	width : 100%;
	height : 100%;
	overflow : auto;
	box-sizing: content-box;
}

.content_tab {
	background: rgb(54,187,68);
	border: 1px solid rgba(255, 255, 255, 0.3);
	top: 5px;
	left : 4px;
	width : 170px;
	height : 30px;
	padding-left : 5px;
	padding-right : 2px;
	font-size: 14px;
	float : left;
}

.layout_tab {
	background: rgb(54,187,68);
	border: 1px solid rgba(255, 255, 255, 0.3);
	top: 5px;
	left : 4px;
	width : 170px;
	height : 30px;
	padding-left : 5px;
	padding-right : 2px;
	font-size: 14px;
	float : left;
}

.display_tab {
	background: rgb(54,187,68);
	border: 1px solid rgba(255, 255, 255, 0.3);
	top: 5px;
	left : 4px;
	width : 170px;
	height : 30px;
	padding-left : 5px;
	padding-right : 2px;
	font-size: 14px;
	float : left;
}

.group_tab_setting {
	border: 1px solid #0080FF;
	border-radius: 2px;
	width : 16px;
	height : 16px;
	background :#0080FF;
	float : right;
	position : relative;
	right: 10px;
	top : 7px;
	background-image:url("../../image/setting.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.group_tab_setting:hover {
	background : rgb(24,137,38);
	background-image:url("../../image/setting2.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.group_tab_setting_label {
	color : white;
	position : relative;
	top : -3px;
}

.group_tab_append {
	border-radius: 16px;
	width : 16px;
	height : 16px;
	position : fixed;
	bottom : 7px;
	left : 150px;
	cursor : pointer;
	margin : auto auto;
	font-size : 16px;
	text-align: center;
}

.group_tab_append_content {
	border: 1px solid rgb(100, 250, 100);
	background-color :rgb(100, 250, 100);
}
.group_tab_append_display {
	border: 1px solid #0080FF;
	background-color :#0080FF;
}
.group_tab_append_content:hover {
	background :rgb(54,187,68);
}
.group_tab_append_display:hover {
	background-color :rgb(21, 89, 156);
}

.group_tab_append_label {
	color : black;
	position : relative;
	top : -3px;
}

.group_tab_up {
	border-radius: 16px;
	width : 16px;
	height : 16px;
	position : fixed;
	bottom : 7px;
	left : 10px;
	cursor : pointer;
	margin : auto auto;
	font-size : 16px;
	text-align: center;
	background-image:url("../../image/group_up.png");
	background-repeat:no-repeat;
	background-size: contain;
}
.group_tab_up_content {
	border: 1px solid rgb(100, 250, 100);
	background-color :rgb(100, 250, 100);
}
.group_tab_up_content:hover {
	background-color :rgb(54,187,68);
}

.group_tab_up_display {
	border: 1px solid #0080FF;
	background-color :#0080FF;
}
.group_tab_up_display:hover {
	background-color :rgb(21, 89, 156);
}

.group_tab_down {
	border-radius: 16px;
	width : 16px;
	height : 16px;
	position : fixed;
	bottom : 7px;
	left : 30px;
	cursor : pointer;
	margin : auto auto;
	font-size : 16px;
	text-align: center;
	background-image:url("../../image/group_down.png");
	background-repeat:no-repeat;
	background-size: contain;
}
.group_tab_down_content {
	border: 1px solid rgb(100, 250, 100);
	background-color :rgb(100, 250, 100);
}
.group_tab_down_content:hover {
	background-color :rgb(54,187,68);
}

.group_tab_down_display {
	border: 1px solid #0080FF;
	background-color :#0080FF;
}
.group_tab_down_display:hover {
	background-color :rgb(21, 89, 156);
}

.content_tab.active {
	border: 3px solid white;
}

.layout_tab.active {
	border: 3px solid white;
}

.content_tab_box {
	border-left: 2px solid rgb(54,187,68);
}

.display_tab_box {
	border-left: 2px solid #0080FF;
}
.display_tab.active {
	border: 3px solid white;
}

.layout_tab_box {
	border-left: 2px solid lightgray;
}

#display_tab_box {
	border: 2px solid #0080FF;
}

#layout_tab_box {
	background-color : rgba(255, 255, 255, 0.1);
}

.group_setting_menu {
	width : 100px;
	height : 60px;
	background : rgb(255,255,255);
	border : 1px solid rgb(186, 186, 186);
	color : black;
	position : absolute;
	box-shadow: 2px 4px 5px black;
	z-index: 10000003;
}

.group_setting_menu_item {
	background : white;
	cursor: default;
	font-size : 14px;
	color : black;
}

.group_setting_menu_item:hover {
	background : rgb(66, 129, 244);
	color : white;
}

.display_group_checkbox {
	display : inline-block;
	width : 20px;
	height: 20px;
}
.group_tab_link {
	display: inline-block;
	margin: 4px;
	color : black;
}
/* .group_tab_link_display {
	position : relative;
	top : -4px;
} */
.inner_group_div {
	position: absolute;
	height: 25px;
    width: 100%;
}