
#display_tab {
	position : absolute;
	text-align: center;
	background-color: #0080FF;
	border-style: none;
	top: 4px;
	left : 4px;
	width : 80px;
	height : 26px;
	padding-top: 6px;
	font-size: 13px;
}

#display_tab.active {
	text-align: center;
	background-color: #0080FF;
	border: 0px 0px 0px 0px;
	border : 1px solid rgb(230, 230, 230);
	border-bottom : 0px;
}

#content_tab {
	position : absolute;
	text-align: center;
	background: rgb(44,177,58);
	border-style: none;
	top: 4px;
	left : 88px;
	width : 80px;
	height : 26px;
	padding-top: 6px;
	font-size: 13px;
}

#content_tab.active {
	text-align: center;
	background: #04B431;
	border: 0px 0px 0px 0px;
	border : 1px solid rgb(230, 230, 230);
	border-bottom : 0px;
}

#content_tab_box {
	border: 2px solid #04B431;
	background : rgba(0, 200, 100, 0.1);
}

#search_tab {
	position : absolute;
	text-align: center;
	background-color: #FF8055;
	border-style: none;
	top: 4px;
	left: 172px;
	width : 80px;
	height : 26px;
	padding-top: 6px;
	font-size: 13px;
}

#search_tab.active {
	text-align: center;
	background-color: #FF8055;
	border: 0px 0px 0px 0px;
	border : 1px solid rgb(230, 230, 230);
	border-bottom : 0px;
}

#search_tab_box {
	border: 2px solid #FF8055;
	background : rgba(200, 100, 0, 0.1);
}

.content_box_area {
	width : 100%;
	height : 100%;
	padding-top : 30px;
	overflow : hidden;
}

.content_tab_area {
	width : 100%;
	height : 30px;
	position : absolute;
}

#context_menu_change_group_list {
	display : none;
}

#layout_tab {
	position : absolute;
	text-align: center;
	background-color: darkgray;
	border-style: none;
	top: 4px;
	left: 256px;
	width : 80px;
	height : 26px;
	padding-top: 6px;
	font-size: 13px;
}

#layout_tab.active {
	text-align: center;
	background-color: darkgray;
	border: 0px 0px 0px 0px;
	border : 1px solid rgb(230, 230, 230);
	border-bottom : 0px;
}

#layout_tab_box {
	border: 2px solid darkgray;
	background : rgba(150, 150, 150, 0.1);
}

#notice_tab {
	position : absolute;
	text-align: center;
	background-color: rgb(252, 215, 5);
	border-style: none;
	top: 4px;
	left: 340px;
	width : 80px;
	height : 26px;
	padding-top: 6px;
	font-size: 13px;
}

#notice_tab.active {
	text-align: center;
	background-color: rgb(252, 215, 5);
	border: 0px 0px 0px 0px;
	border : 1px solid rgb(230, 230, 230);
	border-bottom : 0px;
}

#notice_tab_box {
	border: 2px solid darkgray;
	background : rgba(150, 150, 150, 0.1);
}

.tab_title {
	color : black;
}