.video_controller {
	display: none;
	position: fixed;
	left: calc( 50% - 100px );
	bottom: 8px;
	width: 200px;
	height: 80px;

	background: rgba( 0, 0, 0, 0.8 );
	border-radius: 4px;

	z-index: 20;
}

.video_controller_text {
	position: absolute;
	left: 8px;
	top: 4px;
}

.video_controller_close {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 24px;

	cursor: pointer;
}

.video_controller_rewind {
	position: absolute;
	left: calc( 50% - 48px );
	bottom: 4px;
	width: 48px;

	cursor: pointer;
}

.video_controller_play {
	position: absolute;
	right: calc( 50% - 48px );
	bottom: 4px;
	width: 48px;

	cursor: pointer;
}