body {
	position: fixed;
	width:100%;
	height:100%;
}

*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	box-sizing: border-box;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	/*white-space: nowrap;*/
}

pre {
	font-family: "monospace, serif";
	-webkit-box-sizing: "";
	box-sizing: content-box;
	line-height: 1;
	margin: 0;
}

span {
	color: white;
}

a {
	text-decoration: none;
	border:none;
	color: #000;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #000;
}
a.active {
	color: #000;
}

p {
	color: white;
}

/* スクロールバー */
::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	border : 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner
{
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: rgba(0,0,0,0);
}

.textcontent {
	padding: 0px;
	overflow: auto;
}


.layoutcontent {
	padding: 0px;
	overflow: auto;
}

.screen {
	/*padding: 12px;*/
	border-color : lightslategray;
	color : white;
}

.screen_id {
	padding: 12px;
}

.stopselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.head_title {
	position:absolute;
	width : 180px;
	height : 30px;
	font-size: 18px;
	text-align: right;
}

.head_title_text {
	position : relative;
	top : 3px;
	height : 20px;
}

.head_mode_menu {
	position : absolute;
	text-align: center;
	padding: 2px;
	width : 100%;
}

.head_menu_content {
	position:absolute;
	left : 200px;
	width : 200px;
	height : 30px;
	font-size: 16px;
	text-align: left;
}

.head_menu_content_inner {
	position : relative;
	top : 12px;
	height : 30px;
}

.head_menu_content_inner.active {
	background : red;
}

.head_menu_content_text {
	margin-left : 20px;
}

.head_select_mode_menu {
	position:absolute;
	left : 20px;
	display : none;
}

.head_select_menu_text {
	position : relative;
	top : 5px;
	height : 20px;
	font-size: 14px;
	
	border-style : solid;
	padding : 2px 8px 2px 8px;
	border-width: 2px;
	border-radius: 6px;
}

.head_vdisplay_menu {
	position:absolute;
	right : 20px;
	display : none;
}

.head_vdisplay_menu_text {
	position : relative;
	top : 5px;
	height : 20px;
	font-size: 14px;
	
	border-style : solid;
	padding : 2px 8px 2px 8px;
	border-width: 2px;
	border-radius: 6px;
}

/*
.leftArea {
	position : absolute;
	height : 100%;
	width : 100%;
	overflow: auto;
	z-index: 100000;
}

.left_tab_area {
	width : 100%;
	height : 100%;
}

.left_main_area {
	height : 100%;
	background: linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
	padding-bottom: 100px;
}

*/

.content_area {
	display: none;
	width:100%;
	height: 100%;
	overflow-y: auto;
	border : solid 4px;
	border-color: #04B431;
}
.content_area pre {
	padding: 0px;
	overflow-y: auto;
}

.display_area {
	display: block;
	width:100%;
	height: 100%;
	overflow: auto;
	border : solid 4px;
	border-color: #0080FF;
}

/*
.bgcolor {
	z-index: -10000;
}
*/

.overallBlock {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100001;
}
.bottom_area {
	/*
	border: solid;
	border-color: rgb(44,177,58);
	*/
	/*padding: 20px;*/
	background-color: #333;
	position : relative;
	height : 100%;
	/*height : 620px;*/
	width : 100%;
	/*bottom : 0px;*/
	top: 0px;
	/*left: 50%;*/
	/*margin-left:-400px;*/
	overflow: hidden;
	z-index: 10;
}

.leftTab {
	top : 140px;
	background-color: #AAA;
	padding: 0px 20px 0px 20px;
	border: solid 1px;
	border-radius:1px;
	-moz-transform-origin: 6% 70%;
	-webkit-transform-origin: 6% 70%;
	-o-transform-origin: 6% 70%;
	-ms-transform-origin: 6% 70%;
	transform-origin: 6% 70%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 100000;
}

.content_id {
	margin: 10px;
	padding-left : 3px;
}

.group_name {
	margin: 10px;
	padding-left : 3px;
 }

.meta_info {
	margin: 10px;
	padding-left : 3px;
}

.input-group {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.form-control {
	text-align: center;
}

.download_button {
	width:164px;
	height:34px;
	position: relative;
	left: 50px;
	top: 10px;
	background-image:url("../image/download.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
}

.close_button {
	width:23px;
	height:23px;
	background-image:url("../image/closebutton.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	background-color: transparent;
	top : -10px;
}

.close_button:hover {
	cursor : pointer;
}

.top_control {
	width : 800px;
	height : 50px;
}

.top_control_panel {
	text-align:center;
}

.topmenu1 {
	position: absolute;
	right : 380px;
	z-index: 1000001;
}

.topmenu2 {
	position: absolute;
	right : 260px;
	z-index: 1000001;
}

.preview_area {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.history_slider_area {
	width : 100%;
	height : 100px;
	position: absolute;
	bottom : 0px;
	background: rgb(46, 56, 66);
	opacity : 1;
	border :  2px solid rgb(112, 180, 239);
	z-index: 1000000;
	overflow-x : auto;
	display : none;
}

.history_slider {
	width : 80% !important;
	position : absolute;
	top : 30px;
	left : 5%;
}

.history_slider_label {
	color : white;
	position : absolute;
	top : 60px;
	right : 2%;
	font-size : 20px;
}

#cursor_text {
	position : absolute;
	top : 5px;
	right : 350px;
	font-size : 14px;
	color : rgb(10, 26, 67);
}

#cursor_color {
    margin: 3px;
    width: 70px;
}

.content_dialog {
	top: 50%;
	left: 50%;
	width: 640px;
	height: 640px;
	margin-top:-320px;
	margin-left:-320px;
	position: fixed;
	background: #FEFEFE;
	border:solid;
	border-radius:6px;
	border-width:3px;
	border-color:#AAAAAA;
	z-index:4;
	display: none;
	overflow: auto;
}

.content_button_area {
	display : none;
	position :absolute;
	width : 160px;
	bottom : 22px;
}

.content_button {
	position :absolute;
	left : 40px;
}

.display_button_area {
	display : block;
	position :absolute;
	width : 160px;
	bottom : 22px;
}

.display_button {
	position :absolute;
	left : 40px;
}

.blacktext {
	color : black;
}

.whitetext {
	font-size: 14px;
	color : #eee;
}

.bold {
	font-weight: 700;
}

.virtual_display_property {
	display : none;
}

.property_button {
	float : right;
	width : 80px;
	height : 30px;
}

.show_display_id {
	margin-bottom: 5px;
}

.content_add {
	margin-bottom: 5px;
}

#display_preview_area {
	z-index: 1;
	opacity: 1.0;
}

#content_preview_area {
	z-index: 0;
	opacity: 0.3;
}

#content_delete_all_button {
	color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

#content_delete_all_button:hover {
	color: #fff;
    background-color: #a9100c;
    border-color: #a9100c;
}

.page {
	background: linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.image_content {
	position : absolute;
	left : 0px;
	right : 0px;
}

.text_content {
	position : absolute;
}

.whole_screen_elem {
	padding: 12px;
	border : 1px solid;
	z-index : -1000000;
	color : white;
}

.user_data_input {
	text-align: center;
	padding-left : 15px;
	padding-right : 15px;
}

.user_data_text_input {
	width : 100%;
	height : 200px;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text; 
	-ms-user-select: text;
	user-select: text;
}

.manipulator_menu {
	width : 26px;
	height : 26px;
	position : absolute;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid gray;
	z-index: 1000000;

	cursor : pointer;
}

.manipulator_menu.star {
	background-image: url("../image/star_off.png");
}

.manipulator_menu.star.active {
	background-image:url("../image/star_on.png");
}

.manipulator_menu.memo {
	background-image: url("../image/memo_off.png");
}

.manipulator_menu.memo.active {
	background-image: url("../image/memo_on.png");
}

.manipulator_menu.prev {
	background-image: url("../image/prev.png");
}

.manipulator_menu.next {
	background-image: url("../image/next.png");
}

.manipulator_video {
	position: absolute;
	width: 64px;
	height: 64px;
	z-index: 1000000;

	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 32px;

	cursor: pointer;
}

.manipulator_video_img {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 16px;
}

.manipulator_pdf {
	position: absolute;
	width: 100px;
	height: 25px;
	z-index: 1000000;
}

.manipulator_pdf .prev {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 100%;

	background-size: contain;
	background-image: url("../image/prev.png");
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px 0 0 4px;

	cursor: pointer;
}

.manipulator_pdf .next {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 100%;

	background-size: contain;
	background-image: url("../image/next.png");
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 4px 4px 0;

	cursor: pointer;
}

.manipulator_pdf .page {
	position: absolute;
	left: 25px;
	top: 0;
	width: 50px;
	height: 100%;

	font-size: 10px;
	padding-top: 6px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}


.tileimage_icon {
	position: absolute;
	width : 32px;
	height : 32px;
	left : 10px;
	top : -10px;
	background-color : lightgray;
	background-image:url("../image/tiled.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.tileimage_icon_for_list {
	position: absolute;
	width : 20px;
	height : 20px;
	left : -5px;
	top : -5px;
	background-color : lightgray;
	background-image:url("../image/tiled.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.mark {
	border : 4px solid orange;
}

.rightArea_panel__ {
	background:linear-gradient(rgb(5, 18, 35), rgb(10, 26, 67));
	overflow-y : auto;
	z-index: 10;
}

.backup_list_content {
	color : black;
	width : 100%;
}

.backup_info {
	padding-left: 30px;
}

.backup_list {
	padding-left : 15px;
	padding-right : 15px;
}

.backup_restore {
	margin-left : 15px;
	width : 80px;
}

.backup_area {
	display : none;
}

.history_list_content {
	color : black;
	width : 100%;
}

.history_info {
	padding-left: 30px;
}

.history_list {
	padding-left : 15px;
	padding-right : 15px;
}

.history_restore {
	margin-left : 15px;
	width : 80px;
}

.history_area {
	display : none;
	height : 400px;
}

.history_select {
	margin-left : 15px;
	width : calc(100% - 30px);
}

.history_buttons {
	margin-top : 5px;
	text-align: center;
}
.history_up {
	border-radius: 24px;
	width : 24px;
	height : 24px;
	cursor : pointer;
	margin : auto auto;
	font-size : 24px;
	text-align: center;
	background-image:url("../image/group_up.png");
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	margin-right : 8px;
}
.history_up {
	border: 1px solid white;
	background-color :white;
}
.history_up:hover {
	background-color :lightgray;
}

.history_down {
	border-radius: 24px;
	width : 24px;
	height : 24px;
	cursor : pointer;
	margin : auto auto;
	font-size : 24px;
	text-align: center;
	background-image:url("../image/group_down.png");
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
}
.history_down {
	border: 1px solid white;
	background-color :white;
}
.history_down:hover {
	background-color :lightgray;
}

.history_sync_button {
	margin-left : 15px;
	width : calc(100% - 30px);
}
.history_sync_on {
	border : 2px  solid white !important;
}

.property_text_label {
    margin: 5px;
    padding-left: 10px;
	font-size : 11px;
}
.video_select_input {
	width: 230px;
	height : 30px;
    margin-left: 10px;
}
.video_info {
    width: 250px;
    margin: 5px;
	border: 1px solid rgb(56, 90, 123);
}
.video_info_title {
	margin: 10px;
	padding-left: 3px;
}

.video_camera_button {
	background-color : #04B431;
	width : 24px;
	height : 24px;
	background-image:url("../image/camera_on.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	position : absolute;
	bottom : 0px;
	left : 0px;
}
.video_camera_button:hover {
	opacity : 0.5;
	cursor : pointer;
}
.video_camera_button_off {
	background-image:url("../image/camera_off.png");
}
.video_camera_button_off:hover {
	opacity : 0.5;
	cursor : pointer;
}
.video_mic_button {
	background-color : #04B431;
	width : 24px;
	height : 24px;
	background-image:url("../image/mic_on.png");
	background-repeat:no-repeat;
	background-size: contain;
	border: none;
	position : absolute;
	bottom : 0px;
	right : 0px;
}
.video_mic_button:hover {
	opacity : 0.5;
	cursor : pointer;
}
.video_mic_button_off {
	background-image:url("../image/mic_off.png");
}
.video_mic_button_off:hover {
	opacity : 0.5;
	cursor : pointer;
}

.head_id_menu {
	position:absolute;
	margin: 2px;
	right : 330px;
	height: 100%;
	width: 180px;
}
.head_id_input {
	color: black;
	position : relative;
	width : 80px;
	height : 25px;
	z-index: 10000000;
}
.head_id_input_button {
	color: #EEE;
	text-decoration: none;
	position : relative;
	top : 3px;
	height : 25px;
	font-size: 16px;

	border-style : solid;
/*	padding : 5px 10px 5px 10px;*/
	border-width: 2px;
	border-radius: 2px;
}
.head_id_input_button:hover {
	color: #FFF;
	cursor : pointer;
}

#selection_rect {
	position : absolute;
	left : 100px;
	top : 100px;
	width : 100px;
	height : 100px;
	background : rgba(1, 1, 1, 0.1);
	z-index: 10000000;
	border : 4px solid;
	border-color :  rgb(4, 180, 49);
}
#display_selection_rect {
	position : absolute;
	left : 100px;
	top : 100px;
	width : 100px;
	height : 100px;
	background : rgba(1, 1, 1, 0.1);
	z-index: 10000000;
	border : 4px solid;
	border-color :  rgb(0, 128, 255);
}

.content_property_checkbox_wrap {
	margin-left : 20px;
	background : #FFF;
}

.content_property_checkbox {
	width : 20px;
	height : 20px;
}

.content_property_checkbox_label {
	border: 1px solid #ccc !important;
}