*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	border : 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner
{
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: rgba(0,0,0,0);
}

html {
    background-color:rgb(7, 22, 50);
}
body {
	overflow:hidden;
	background-color: rgb(7, 22, 50);
	margin: 0px;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	white-space: nowrap;
}

a {
	text-decoration : none;
}

pre {
	font-family: "monospace, serif";
	-webkit-box-sizing: "";
	box-sizing: content-box;
	line-height: 1;
	margin: 0;
}

.displayid_area {
	min-height: 800px;
	min-width: 800px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#555555;
	opacity: 0.9;
	z-index: 1000000;
	display: none;
}

#preview_area {
	z-index : -1000000;
}

.displayid {
	position:relative;
	top: 50%;
	margin-top:-160px;
	color : white;
	font-size: 140px;
}


.head_menu {
	background: rgb(112, 180, 239);
	height: 30px;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 1000000;
}


.head_mode_menu {
	text-align: center;
	/*padding: 8px;*/
}

.stopselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.head_select_mode_menu {
	position:absolute;
	left : 20px;
}

.head_select_menu_text {
	color: #EEE;
	text-decoration: none;
	position : relative;
	top : 3px;
	height : 26px;
	font-size: 16px;

	border-style : solid;
/*	padding : 5px 10px 5px 10px;*/
	border-width: 2px;
	border-radius: 1px;
	margin-right : 10px;
}
.head_select_menu_text:hover {
	color: #FFF;
	cursor : pointer;
}

.head_id_menu {
	position:absolute;
	top : 0px;
	right : 20px;
}

.head_id_input {
	position : relative;
	height : 20px;
	top : 3px;
	z-index: 10000000;
}
.head_id_input_button {
	color: #EEE;
	text-decoration: none;
	position : relative;
	top : 3px;
	height : 26px;
	font-size: 16px;

	border-style : solid;
/*	padding : 5px 10px 5px 10px;*/
	border-width: 2px;
	border-radius: 2px;
}
.head_id_input_button:hover {
	color: #FFF;
	cursor : pointer;
}

.menu_anim {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 1;
}
.hide {
	opacity: 0;
}

.temporary_bounds {
	border: dashed 2px;
	border-color: black;
}

.disconnected_text {
	position : fixed;
	bottom : 0px;
	right : 20px;
	color : white;
	font-size: 50px;
	display : none;
}

.blocked_text {
	position : fixed;
	bottom : 0px;
	right : 20px;
	color : white;
	font-size: 50px;
	display : block;
}

.mark {
	border-width : 6px;
	border-style: solid;
}

.memo {
	position : absolute;
	color : black;
	height : 100px;
	font-size : 1.2em;
	background-color: lightgray;
	border : 1px solid gray;
	padding : 5px;
	box-sizing: border-box;
}
.hiddenCursor {
    color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -9999px;
    overflow: hidden;
}
.hiddenCursor .before {
    background-color: white;
    content: '　';
    width: 100px;
    height: 100px;
	display: inline-block;
    transform: rotate(45deg) translate(-80px,0px);
	border :  1px solid white;
}
.hiddenCursor .after {
    background-color: white;
    content: '　';
    width: 40px;
    height: 100px;
	display: inline-block;
	transform: rotate(-45deg) translate(-50px,-80px);
	border-bottom : 1px solid white;
}

.change_id_text {
	position : absolute;
	top : 7px;
	right : 180px;
	font-size : 14px;
	color : rgb(10, 26, 67);
}
