*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	border : 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner
{
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: rgba(0,0,0,0);
}

html {
    background-color:rgb(7, 22, 50);
}
body {
	overflow:hidden;
	background-color: rgb(7, 22, 50);
	margin: 0px;
    height : 100%;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	white-space: nowrap;
}

a {
	text-decoration : none;
}

p {
	color: white;
}

#itowns {
    width : calc(100% - 260px);
    height : calc(100% - 120px  - 31px);
	position: absolute;
	top : 31px;
}

#itowns_property {
	position: absolute;
    top: 31px;
    right: 0px;
    width: 260px;
	height: calc(100% - 31px);
    padding-left: 5px;
}

.title {
	color : white;
	font-size : 16px;
	margin : 5px;
}

.chowder_text {
	color : white;
}

.head_mode_text  {
    background: rgb(68, 68, 68);
	color : white;
    height: 31px;
}

.select_list_frame {
	width : 240px;
}

.property_text {
	margin: 5px;
	border: 1px solid;
}

.layer_button_area {
	margin : 5px;
    font-size: 20px;
}

.layer_button {
	margin : 5px;
    width: 24px;
    height: 24px;
}

.layer_up_button {
	margin : 5px;
    width: 24px;
    height: 24px;
	background-image:url("../image/group_up.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.layer_down_button {
	margin : 5px;
    width: 24px;
    height: 24px;
	background-image:url("../image/group_down.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.layer_button.btn {
	padding: 0px;
    font-size: 20px;
}

.input_dialog {
	width : 500px;
}

.input_dialog_input {
	width : 425px;
}

.layer_select {
	margin : 5px;
	width : 240px;
    cursor: default;
}

.layer_select:disabled {
    cursor:not-allowed;
}

.layer_dialog {
	display : none;
	top: 50%;
	left: 50%;
    width: 500px;
    height: 300px;
	margin-top: calc(-300px / 2);
	margin-left: calc(-500px / 2);
	position: fixed;
	z-index: 100000000;
	background-color: rgb(83, 83, 83);
	border-radius: 5px;
}

.layer_dialog_ok_button {
	position: absolute;
    font-size: 14px;
    width: 60px;
	height : 30px;
	
	right : calc(10px + 10px + 60px);
	bottom : 10px;
}

.layer_dialog_cancel_button {
	position: absolute;
    font-size: 14px;
    width: 60px;
	height : 30px;

	right : 10px;
	bottom : 10px;
}

.layer_dialog_wrap {
    margin: 15px;
}

.layer_dialog_title {
	font-size : 20px;
    padding-bottom: 10px;
}

.layer_dialog_row  {
	width : 100%;
	height: 40px;
}

.layer_dialog_sub_title  {
	display : inline-block;
}

.layer_dialog_type_select {
	margin-left: 6px;
}

.layer_dialog_id_input {
	margin-left: 22px;
}

.layer_dialog_url_input {
    width: 400px;
    margin-left: 10px;
}

.layer_dialog_zoom_title {
	display : inline-block;
	padding-right : 5px;
}

.layer_dialog_zoom_max_title {
	padding-left : 10px;
}

.input-group {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.layer_property_title {
	padding-top : 10px;
}

.timeline_wrap {
	background : #3b3848;
	height : 120px;
	position : fixed;
	bottom : 0px;
    width: calc(100% - 260px);
}
.timeline {
	position: absolute;
	left : 10%;
	height : 120px;
	width: 80%;
}

.k2go-timeline-main {
	/*bottom : 50px;*/
}

.k2go-timeline-pick-line {
	max-height : 70px;
}

.layer_dialog_zoom_min_select:disabled {
	background : lightgray;
}

.layer_dialog_zoom_max_select:disabled {
	background : lightgray;
}