*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	border : 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(4,19,25,1);
	-webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner
{
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: rgba(0,0,0,0);
}

html {
    background-color:rgb(7, 22, 50);
}
body {
	overflow:hidden;
	background-color: rgb(7, 22, 50);
	margin: 0px;
    height : 100%;
}

div {
	font-family: "Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
	white-space: nowrap;
}

a {
	text-decoration : none;
}

p {
	color: white;
}

#qgis {
    width : calc(100% - 260px);
    height : calc(100% - 31px);
	position: absolute;
	top : 31px;
}

#qgis_property {
	position: absolute;
    top: 31px;
    right: 0px;
    width: 260px;
	height: calc(100% - 31px);
    padding-left: 5px;
}

.qgis_property_inner {
	position: absolute;
	height: calc(100%);
    overflow-y: auto;
}

.title {
	color : white;
	font-size : 16px;
	margin : 5px;
}

.chowder_text {
	color : white;
}

.head_mode_text  {
    background: rgb(68, 68, 68);
	color : white;
    height: 31px;
}

.select_list_frame {
	width : 240px;
}


.property_text_title {
    margin-left: 14px;
	margin-right: 14px;
}

.attribution_title {
	font-size : 11px;
}

.property_text {
	margin-left: 14px;
	margin-right: 14px;
	border: 1px solid;
	white-space: normal;
	word-break: break-all;
	user-select: text;
}

.property_title {
	padding-top : 10px;
}

.input-group {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}