

.thumbnaile{/*
    position: absolute;
    top: 450px;
    */
    display: inline;
    margin:4px;
}
/*
.bt{
    position: absolute;
    top: 450;
    margin:10px;
    display: block;
}
*/
#canvas{
    display: none;
}

#selectedcanvas{
    position: absolute;
    display: none;
    margin: 10px;
}

#video{
    margin: 10px;
}
