html  {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.default{
    overflow: hidden;
    background-color: #000033;
    height: 630px;
}

.added{
    overflow-y: auto;
    background-color: #000033;
    height: calc(100% - 630px);
}


.thumbnaile{
    display: inline;
    margin:5px;
}

.txt{
    display: inline-block;
    width: 150px;
    line-height: 30px;
    margin-right: 10px
}

.cap{
    margin-left: 10px;
}

.form-control--extend{
    display: inline-block;
    width: 200px;

}

.int{
    display: inline-block;
    margin: 10px;
    width: 800px;
    color: #ffffff;
}

#canvas{
    display: none;
}

#selectedcanvas{
    display: none;
    margin: 10px;
    border: 2px solid rgba(80, 200, 141, 0.9);
}

#video{
    margin: 10px ;
    border: 2px solid rgba(80, 200, 141, 0.9);
}
