*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(4, 19, 25, 1);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(4, 19, 25, 1);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner {
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
}

html {}

body {
    overflow: hidden;
    margin: 0px;
}

#tileviewer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.fuchidori {
    font-size: 1.4vh;
    color: rgb(27, 30, 43);
    -webkit-text-stroke: 1px gray;
    text-stroke: 1px gray;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
}