
.select_list_frame {
	border : 1px solid white;
	width : 180px;
	height : 100px;
	overflow-y : auto;
	display : inline-block;
	margin : 5px;
}

.select_list_content {
	background-color : inherit;
	color : lightgray;
}

.select_list_content:hover {
	cursor : pointer;
	background-color : lightslategray;
}

.selectlist_selected {
	background-color : cornflowerblue;
	color : white;
}