@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
:root {
  --active-color: #fc4;
}
body {
  margin: 0;
  padding: 0;
  background: #555;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  font-family: "Monda", sans-serif;
}
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

#head_top_bar {
  width: 100%;
  background: #1b1e2b;
  height: 76px;
  border-top: solid 1px rgba(0, 0, 0, 0.8);
  border-bottom: solid 1px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  align-items: center;
}
#head_top_bar .left {
  background: url(../../image/k2go-timeline-template/k2go-logo.png) no-repeat center 5px;
  background-size: 80px;
  padding: 0;
  height: 50px;
  display: block;
}
#head_top_bar .left span {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 30px auto 0;
  font-size: 15px;
  color: #aaa;
  font-family: Monda, sans-serif;
}
#head_top_bar .center {
  margin: 13px auto 13px;
  display: block;
  height: 50px;
}
#head_top_bar .right {
  padding: 0 20px 0 0;
  display: block;
}
#head_top_bar #date_box {
  background: #292d3e;
  border-radius: 6px;
  color: #7da2cc;
  font-family: Monda, sans-serif;
  display: grid;
  grid-template-columns: 40px 260px 40px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
}
#head_top_bar #cal {
  display: block;
  background: url(../../image/k2go-timeline-template/ic_cal.svg) no-repeat center center;
  background-size: 26px 26px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#cal.disable1 {
  opacity: 0.2;
  pointer-events: none;
}
#cal.disable2 {
  pointer-events: none;
}
#cal:active {
  transform: scale(0.9);
  opacity: 0.6;
}
#head_top_bar #date {
  font-size: 21px;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 50px;
  width: 260px;
  margin: 0 auto 0;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  -webkit-text-overflow: clip;
  -o-text-overflow: clip;
}
#head_top_bar #date.expansion {
  font-size: 17px;
}

#head_top_bar #current_time {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
}
#current_time.disable1 {
  opacity: 0.2;
  pointer-events: none;
}
#current_time.disable2 {
  pointer-events: none;
}
#current_time:active {
  transform: scale(0.9);
  opacity: 0.6;
}
#current_time.timeCurrent {
  background: url(../../image/k2go-timeline-template/ic_current_time.svg) no-repeat center center;
  background-size: 24px 24px;
}
#current_time.timeNow {
  background: url(../../image/k2go-timeline-template/ic_current_time_active.svg) no-repeat center center;
  background-size: 24px 24px;
}
#current_time.timeNowPlay {
  background: url(../../image/k2go-timeline-template/ic_current_time_active.svg) no-repeat center center;
  background-size: 24px 24px;
  animation: blink 1s infinite;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#function_bar {
  position: fixed;
  top: 76px;
  width: 100%;
  height: 60px;
  background: #292d3e;
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  justify-content: space-around;
  align-items: center;
  font-family: Monda, sans-serif;
  color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5)
}
#function_bar .left {
  font-size: 11px;
  padding: 0 0 0 10px;
  display: block;
}
#function_bar .center {
  width: 350px;
  margin: 0 auto 0;
  box-sizing: border-box;
  display: block;
}
#function_bar .right {
  font-size: 12px;
  padding: 0 15px;
  margin: 0 0 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 20px 1fr;
  align-items: center;
  justify-content: center;
}
/* slider */
#slider {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  grid-column-gap: 5px;
}
#slider_label {
  width: 80px;
  height: 18px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto 0;
  text-align: center;
  font-family: Monda, sans-serif;
  font-size: 10px;
}
#button_plus {
  width: 24px;
  height: 24px;
  background: url(../../image/k2go-timeline-template/ic_plus.svg) no-repeat center center;
  background-size: 18px 18px;
  cursor: pointer;
}
#button_plus:active {
  opacity: 0.5;
  transform: scale(0.9);
}
#button_minus {
  width: 24px;
  height: 24px;
  background: url(../../image/k2go-timeline-template/ic_minus.svg) no-repeat center center;
  background-size: 18px 18px;
  cursor: pointer;
}
#button_minus:active {
  opacity: 0.5;
  transform: scale(0.9);
}
#slider.disable1 {
  opacity: 0.2;
  pointer-events: none;
}
#slider.disable2 {
  pointer-events: none;
}
.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3px;
  width: 150px;
  border-radius: 1.5px;
  margin: 0 auto 0;
}
.input-range[type="range"]:focus,
.input-range[type="range"]:active {
  outline: none;
}

.input-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
input[type="range"]::-ms-tooltip {
  display: none;
}
input[type="range"]::-moz-range-track {
  height: 0;
}
input[type="range"]::-moz-range-thumb {
  background: #fff;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.input-range-not-active[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #adb1b6;
  height: 3px;
  width: 120px;
  border-radius: 1.5px;
  margin: 0 auto 0;
  pointer-events: none;
}
/* button_active_bar */
#button_select_data {
  background: url(../../image/k2go-timeline-template/ic_folder.svg) no-repeat center left;
  background-size: 16px 16px;
  padding: 0 0 0 20px;
  margin: 0 0.5em 0 0;
  cursor: pointer;
  transition: 0.3s;
}
#button_select_data:hover {
  color: rgba(255, 255, 255, 0.5);
}
#button_view_url {
  background: url(../../image/k2go-timeline-template/ic_link.svg) no-repeat center left;
  background-size: 16px 16px;
  padding: 0 0 0 20px;
  margin: 0 0.5em 0 0;
  cursor: pointer;
}
#button_view_url:hover {
  color: rgba(255, 255, 255, 0.5);
}
#button_help {
  background: url(../../image/k2go-timeline-template/ic_help.svg) no-repeat center left;
  background-size: 16px 16px;
  padding: 0 0 0 20px;
  margin: 0 1em 0 0;
  cursor: pointer;
  transition: 0.3s;
}
#button_help:hover {
  color: rgba(255, 255, 255, 0.5);
}

#main {
  display: block;
  background: #ccc;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0px;
  height: 90px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(11, 14, 27, 1) 0%,
    rgba(27, 30, 43, 1) 9.9%,
    rgba(11, 14, 27, 1) 10%,
    /* rgba(27, 30, 43, 1) 40%,
    rgba(27, 30, 43, 1) 60%, */
      rgba(11, 14, 27, 1) 90%,
    rgba(27, 30, 43, 1) 90.1%,
    rgba(11, 14, 27, 1) 100%
  );
  box-shadow: 0 -1px 4px rgba(0,0,0,0.5);
  z-index: -1
}
#footer_blank {
  width: 100%;
  height: 100%;
}
#timeline {
  position: fixed;
  bottom: 0px;
  left: 10%;
  width: 80%;
}
#button_range {
  display: block;
  width: 60px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#button_range.disable1 {
  pointer-events: none;
}
#button_range.disable2 {
  pointer-events: none;
}
#button_range span {
  color: #888;
  font-size: 11px;
  font-family: Monda, sans-serif;
  font-weight: 200;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#button_range.active span {
  color: #fc3;
}
#button_range.disable1 span {
  opacity: 0.5;
}
#button_range::after {
  content: "";
  display: inline-block;
  background: url(../../image/k2go-timeline-template/ic_range.svg) no-repeat center 0px;
  width: 60px;
  height: 50px;
  background-size: 40px auto;
}
#button_range.active::after {
  content: "";
  display: inline-block;
  background: url(../../image/k2go-timeline-template/ic_range_active.svg) no-repeat center 0px;
  width: 60px;
  height: 50px;
  background-size: 40px auto;
}
#button_range.disable1::after {
  opacity: 0.3;
  pointer-events: none;
}
#button_range.disable2::after {
  pointer-events: none;
}

.k2go-timeline-label {
  font-family: Monda, sans-serif;
  color: rgba(255, 255, 255, 0.4);
}
.k2go-timeline-rail {
  background: rgba(126, 160, 199, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  height: 8px;
  border-radius: 1px;
  bordr: none;
  box-shadow: none;
}
.k2go-timeline-pick-knob {
  position: absolute;
  left: 0px;
  bottom: 4px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.k2go-timeline-pick {
  width: 30px;
}
.k2go-timeline-pick-line {
  left: 15px;
  bottom: 38px;
  width: 1px;
  height: 0px;
  background: #7da2cc;
}
.k2go-timeline-range {
  display: none;
}
.k2go-timeline-range-show {
  display: flex;
  position: absolute;
  top: 0px;
  height: 7px;
  background: #fc3;
  border-radius: 4px;
}

table {
  border: none;
}
tr {
  border: none;
}
.app_table {
  width: 80%;
  border-spacing: 0;
  table-layout: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 110px));
  border-radius: 10px;
  background: #292d3e;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  user-select: none;
}
td {
  border: none;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px 10px 10px 10px;
  font-size: 18px;
  font-weight: 700;
  color: #7ea0c7;
}
td:last-child {
  border-right: none;
}
tr:last-child td {
  border: none;
}
td span {
  font-weight: 400;
  color: #fff;
}
td span {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
#event_info {
  color: #fff;
  font-size: 16px;
}
#content {
  top: 132px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2
}
#lockWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#lockWindow.show {
  display: block;
}

#view_url {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.75);
}

#view_url_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: #1b1e2b;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding: 20px;
}
.view_url_box_header {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px 10px  0 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
  font-size: 18px;
}
.view_url_box_title {
  font-weight: 700;
  color: #fff;
}
.view_url_box_close {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.view_url_box_close::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../image/k2go-timeline-template/ic_close.svg) no-repeat center center;
  display: inline-block;
  background-size: contain;
}
.input_group {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 40px;
  margin: 20px 0 0 0;
}
.input_group input{
  width: 100%;
  height: 40px;
  margin: 0px 0 20px 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.4);
  border: none;
  color: #fff;
  border-radius: 6px 0 0 6px;
  border: solid 1px #fff;
  border-right: none;
}
.input_group_button {
  width: 40px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  border: solid 1px #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.input_group_button:hover {
  background: #000;
}
.input_group_button::after {
  content: "";
  width: 40px;
  height: 40px;
  background: url(../../image/k2go-timeline-template/ic_copy.svg) no-repeat center center;
  display: inline-block;
  background-size: 20px 20px;
}


@media screen and (max-width: 820px) {
  #function_bar .left {
    display: none;
  }
  #function_bar .right {
    display: none;
  }
  #function_bar {
    grid-template-columns: 1fr;
  }
  #button_range {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
  }
  #button_range span {
    display: none;
  }
  #button_range::after {
    width: 40px;
    height: 40px;
    background-size: 30px auto;
  }
  #button_range.active::after {
    width: 40px;
    height: 40px;
    background-size: 30px auto;
  }
  td {
    font-size: 14px;
  }
  td span {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  #head_top_bar {
    grid-template-columns: 1fr;
    align-items: center;
  }
  #head_top_bar .left {
    display: none;
  }
  #button_range {
    left: 10px;
  }
}

@media screen and (max-width: 550px) {
  #button_range {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 0px;
  }
}

@media screen and (max-height: 400px) {
  td {
    font-size: 12px;
  }
  td span {
    font-size: 12px;
  }
}
